<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">UUID</th>
          <th scope="col">URL</th>
          <th scope="col">Data | Hora</th>
        </tr>
      </thead>
      <tbody>
        <% @guests.each do |guest| %>
        <tr class="guest">
          <th scope="row"><%= guest.id %></th>
          <td><%= guest.uuid %></td>
          <td>@<%= guest.url %></td>
          <td><%= guest.timestamp %></td>
          <td><%= link_to 'Show', guest %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

