<div class="container">
  <h1>Contacts List</h1>
  <ul class="contact-list">
    <% @contacts.each do |contact| %>
      <li class="contact"><p>Name:<%= contact.name %></p><p>Email: <%= contact.email %></p></li>
      <%= link_to 'Show', contact %>
      <%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Delete this contact?' } %>
    <% end %>
  </ul>
  <h3><%= link_to 'New Contact', new_contact_path %></h3>
  <h3><%= link_to 'Home Page', root_path %></h3>
</div>
